.home-cafe {
  background: center / cover url(../assets/images/home-bg.png);
  min-height: calc(100vh + var(--header-height));
  display: flex;
  align-items: center;
}
.home__container-cafe {
  width: 100%;
}

.home__content-cafe {
  max-width: 660px;
}
.home__subtitle-cafe,
.home__description-cafe {
  color: var(--title-color);
}

.home__subtitle-cafe {
  font-family: var(--secondary-font);
  font-size: var(--h1-font-size);
  font-weight: var(--weight-500);
}
.home__title-cafe {
  font-size: var(--biggest-font-size);
  font-weight: var(--weight-700);
  margin-block: 1.25rem;
}

.home__description-cafe {
  margin-bottom: 2.25rem;
}
.home__btns-cafe {
  display: flex;
  column-gap: 2rem;
}
.home__btn-cafe {
  background-color: transparent;
}
.home__btn-cafe:hover {
  background-color: var(--first-color);
  color: var(--title-color);
}
@media screen and (max-width: 768px) {
  .home-cafe {
    padding-top: 10%;
    flex-direction: column;
    align-items: flex-start;
  }
  .home__container-cafe {
    padding: 10rem 1.5rem 0rem 1.5rem;
  }
  .home__title-cafe {
    font-size: var(--h1-font-size);
    margin-block: 0.75rem 0;
  }
  .home__subtitle-cafe {
    font-size: var(--h2-font-size);
    margin-block: 0.5rem 0;
  }
  .home__description-cafe {
    margin-bottom: 1.5rem;
  }
  .home__btns-cafe {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
